.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set app height to fill the viewport */
  
}

.content-layout {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
}

/* Style for Sidebar */
.sidebar {
  width: 200px;
  background-color: #f0f0f0;
 background-color: red;
}

/* Style for Topbar */
.topbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Center content within main-content */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
